export const ENV = 'local';

export const API = {
    local: "https://itunes.apple.com", 
};

export const ENDPOINTS = {
    podcasts: {
        get: {
            url: "/us/rss/toppodcasts/limit=100/genre=1310/json",
            method: "get",
        },
    },
};